name: CMake Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Fix git safe directory
      run: git config --global --add safe.directory '*'

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Upload Artifacts (macOS)
      if: runner.os == 'macOS'
      uses: actions/upload-artifact@v4
      with:
        name: DUCKAVERB-macOS
        path: |
          ${{github.workspace}}/build/DUCKAVERB_artefacts/${{env.BUILD_TYPE}}/VST3/DUCKAVERB.vst3
          ${{github.workspace}}/build/DUCKAVERB_artefacts/${{env.BUILD_TYPE}}/AU/DUCKAVERB.component
          ${{github.workspace}}/build/DUCKAVERB_artefacts/${{env.BUILD_TYPE}}/Standalone/DUCKAVERB.app

    - name: Upload Artifacts (Windows)
      if: runner.os == 'Windows'
      uses: actions/upload-artifact@v4
      with:
        name: DUCKAVERB-Windows
        path: |
          ${{github.workspace}}/build/DUCKAVERB_artefacts/${{env.BUILD_TYPE}}/VST3/DUCKAVERB.vst3
          ${{github.workspace}}/build/DUCKAVERB_artefacts/${{env.BUILD_TYPE}}/Standalone/DUCKAVERB.exe
